<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Exchange rates</title>
</head>
<body>
	<p th:text="${text}"/>
	<img th:src="${giphy}"/>
	
	<hr>
	<p th:text="'Текущая валюта: ' + ${modelRequest.getConvert_currency}"/>
	<p>Вы можете выбрать другую валюту:</p>
	<form th:action="@{/endpoint}" th:method="POST" th:object="${modelRequest}" >
		<div style="color:red" th:if="${#fields.hasErrors('convert_currency')}" th:errors="*{convert_currency}"></div>
		<input type = "text" list = "currencyList" autocomplete="off" th:field="*{convert_currency}"/>
		<datalist id="currencyList">
		    <option th:each="i : ${currency}" th:value="${i}" th:text="${i}"></option>
		</datalist>
		<input type = "submit" value = "Посмотреть"/>
	</form>
	
</body>
</html>